body{

font-family:Arial;
text-align:center;
background:#111;
color:white;

}

h1{

font-size:50px;

}

button{

padding:15px 25px;
font-size:18px;
background:#e50914;
color:white;
border:none;
cursor:pointer;

}

button:hover{

background:#ff2a2a;

}

a{

color:#00bfff;
font-size:18px;

}

ul{

list-style:none;

}
